.font-inc{
    font-family: "Inconsolata";
}

.main-heading{
    padding: 20px;
    color: rgb(250, 250, 250);
    background-color: rgb(70, 70, 70);
}

.panel-small-header{
    padding: 5px;
    font-size: 150%;
}

.label-large{
    font-size: 100%;
}
